<div>
  <h1>As rotas disponíveis são</h1>
  <div>
    <ul>
      <a href="/list">
        <li>Listagem de Usuários</li>
      </a>
      <a href="/register">
        <li>Registro de um usuário</li>
      </a>
    </ul>
  </div>
</div>